@import './basic-structure.css';

:root {
  --border-radius: 15px;
  --btn-border-radius: 40px;
  --bg-clr: #050723;
  --text-color: #fff;
  /* --game-area-min-height: 600px; */
}

body {
  background-color: var(--bg-clr);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%234C4E6D' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23BAB6B6'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
  color: var(--text-color);

  /* Dimentions */
  min-height: 100vh;
  display: grid;
  place-items: center;
  /* justify-items: auto; */
}
/* Header styling */
.game-header {
  font-weight: 400;
  text-align: center;
  margin: 5rem auto;
  letter-spacing: 2px;
  text-shadow: 0 0;
}

.game-header .max-score {
  font-weight: 500;
}
/* Game are styling */
.game-area {
  /*Coloring*/
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 10px rgb(192 219 255 / 75%), 0 0 32px rgb(65 120 255 / 24%);
  /*Dimentions*/
  max-width: 1000px;
  margin: auto;
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
  /*Layout*/
  width: 95%;
  overflow: hidden;
  position: relative;
  z-index: 0;
  margin: 1rem;
  /* Display */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* Players */
/* get any class that contain 'player' in it's name */
.game-area [class*='player'] {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  grid-column-gap: 2rem;
  padding: 5rem;
  text-align: center;
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
  text-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

/* Active state */

.game-area [class*='player'].active {
  background-color: rgba(255, 255, 255, 0.2);
}

/* End active state */

.game-area [class*='player'] [class*='__name'] {
  font-weight: 500;
  font-size: clamp(20px, 4vw + 4rem, 6rem);
  white-space: nowrap;
}

.game-area [class*='player'] [class*='final-score'] {
  font-size: clamp(20px, 3vw + 1rem, 6rem);
  margin-bottom: 14rem;
}
/* Active state */

.game-area [class*='player'].active [class*='final-score'] {
  border-color: #fff;
}

/* End active state */

.game-area [class*='player'] [class*='current-score'] {
  position: absolute;
  background-color: rgba(158, 32, 32, 0.5);
  border-radius: var(--btn-border-radius);
  -webkit-border-radius: var(--btn-border-radius);
  -moz-border-radius: var(--btn-border-radius);
  -ms-border-radius: var(--btn-border-radius);
  -o-border-radius: var(--btn-border-radius);
}

.game-area [class*='player'] .player1__current-score {
  bottom: 0;
  left: 0;
  border-bottom-left-radius: var(--border-radius);
  border-top-right-radius: 100px;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
}
.game-area [class*='player'] .player2__current-score {
  bottom: 0;
  right: 0;
  border-bottom-right-radius: var(--border-radius);
  border-top-left-radius: 100px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
}

/* Active state */

.game-area [class*='player'].active [class*='current-score'] {
  background-color: rgba(158, 32, 32, 1);
}

/* End active state */

/* Controllers */
.game-area .controllers {
  z-index: 3;
  /* Layout */
  position: absolute;
  left: 50%;

  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
  /* Transform */
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  height: 100%;
  padding: 3rem;
}

.game-area .controllers .dice-area {
  margin: auto;
  transform: translateX(-13%);
  -webkit-transform: translateX(-13%);
  -moz-transform: translateX(-13%);
  -ms-transform: translateX(-13%);
  -o-transform: translateX(-13%);
}
.game-area .controllers .dice-area img {
  width: 100%;
  max-width: 80px;
}

/* Generic classes */
/* *************************************** */
.text-glow {
  text-shadow: 0 0 30px rgb(192 219 255 / 75%), 0 0 32px rgb(65 120 255 / 24%);
}

.btn {
  font-size: 18px;
  padding: 12px 32px;
  margin: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: var(--btn-border-radius);
  -webkit-border-radius: var(--btn-border-radius);
  -moz-border-radius: var(--btn-border-radius);
  -ms-border-radius: var(--btn-border-radius);
  -o-border-radius: var(--btn-border-radius);
  width: 100%;
  max-width: 300px;
  letter-spacing: 3px;
}

/* .btn:hover {
  transition: all 0.3s ease;
} */

/* Glow btn styling */

.btn.btn--glow-bg {
  border: none;
  position: relative;
  z-index: 0;
  font-weight: 200;
}

.btn.btn--glow-bg span {
  border-radius: var(--btn-border-radius);
}

/* The glow background */
.btn--glow-bg span:nth-child(1) {
  position: absolute;
  top: 8px;
  right: 8px;
  bottom: 8px;
  left: 8px;
  background: linear-gradient(
    90deg,
    #44ff9a -0.55%,
    #44b0ff 22.86%,
    #8b44ff 48.36%,
    #ff6644 73.33%,
    #ebff70 99.34%
  );
  filter: blur(10px);
  z-index: 1;
}

.btn.btn--glow-bg:hover span:nth-child(1),
.btn.btn--glow-bg:focus-visible span:nth-child(1) {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  filter: blur(10px);
}

/* span with a bg like the bg to memic transparent */
.btn--glow-bg span:nth-child(2) {
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  background-color: var(--bg-clr);
  z-index: 2;
}

.btn--glow-bg p {
  color: var(--text-color);
  position: relative;
  margin: 0;
  padding: 5px;
  position: relative;
  z-index: 3;
}

/* Generic classes End */
/* ************************************* */

/* Responsiveness */

@media (max-width: 750px) {
  .game-area {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);

    overflow: visible;
    --gap-from-border: 2rem;
  }
  .game-area .controllers {
    height: max-content;
    transform: initial;
    -webkit-transform: initial;
    -moz-transform: initial;
    -ms-transform: initial;
    -o-transform: initial;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
  }

  .game-area .controllers * {
    position: absolute;
  }

  .game-area [class*='player'] .player1__current-score,
  .game-area [class*='player'] .player2__current-score {
    left: 0;
    right: initial;
    border-bottom-right-radius: initial;
    border-top-left-radius: initial;
    border-top-right-radius: calc(var(--border-radius) * 10);
  }

  .game-area [class*='player'].active {
    order: 1;
  }

  .game-area [class*='player'].not-active {
    order: 2;
  }

  .game-area .controllers .roll-btn {
    bottom: var(--gap-from-border);
    right: var(--gap-from-border);
  }
  .game-area .controllers .hold-btn {
    bottom: var(--gap-from-border);
    right: 15rem;
  }

  .game-area .controllers .dice-area {
    width: 100px;
    bottom: 50%;
    right: var(--gap-from-border);
    margin-bottom: 3rem;
  }

  .game-area .controllers .reset-btn {
    right: var(--gap-from-border);
    top: var(--gap-from-border);
  }

  .game-area .controllers .btn {
    width: 90px;
    height: 90px;
    text-align: center;
    display: grid;
    place-items: center;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
  }

  .game-area [class*='player'].active [class*='__final-score'] {
    margin-bottom: 30rem;
  }

  .game-area [class*='player'].not-active [class*='__final-score'] {
    /* margin: 0 auto; */
    margin-bottom: 3rem;
    height: max-content;
  }

  .game-area [class*='player'] {
    overflow: hidden;
  }
}

@media (max-width: 400px) {
  .game-area [class*='player'] [class*='__name'] {
    font-size: clamp(20px, 4vw + 2rem, 6rem);
  }
}

@media (max-width: 410px) {
  .game-area {
    --gap-from-border: 1rem;
  }
  .game-area [class*='player'] [class*='__current-score'] {
    width: 50px;
    height: 50px;
    left: -36px;
  }
}

@media (max-width: 500px) {
  .game-area [class*='player'] [class*='__final-score'] {
    border: none;
    text-align-last: left;
    font-size: clamp(20px, 4vw + 2rem, 5rem);
    margin-bottom: 22rem;
    margin-left: 0;
  }
  .game-area [class*='player'] [class*='__name'] {
    margin: 0;
    padding: 0;
    padding-bottom: 4rem;
    text-align: left;
  }
}

@media (max-width: 350px) {
  .game-area {
    --gap-from-border: 0;
  }
  .controllers .btn {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
  }
  .game-area .controllers .hold-btn {
    bottom: var(--gap-from-border);
    right: 11rem;
  }

  .game-area [class*='player'] {
    padding: 20px;
  }

  .game-area [class*='player'] [class*='__current-score'] {
    left: -10px;
    bottom: -10px;
    width: 70px;
    height: 70px;
  }
}
